<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>

    <div class="container text-center mt-5">
      <h1 class="text-light">Available Rooms</h1>
      <div class="room-list">
        <% if (rooms.length > 0) { %>
          <% rooms.forEach(room => { %>
            <div class="room-card <% if (room.is_reserved && user) { %> reserved-room <% } %>">
              <div class="room-info">
                <div class="room-hotel">
                  <%= room.hotel_name %>, <%= room.hotel_location %>
                </div>
                <div><strong>Type:</strong> <%= room.room_type %></div>
                <div><strong>Capacity:</strong> <%= room.max_capacity %> people</div>
                <div class="mb-1"><strong>Price:</strong> $<%= room.price %> per night</div>
              </div>

              <% if (room.is_reserved) { %>
                <p class="reservation-notice">You already have a reservation here!</p>
              <% } else { %>
                <p class="reservation-placeholder">Room is available</p>
              <% } %>

              <div class="room-actions">
                <a href="/hotels/<%= room.hotel_id %>" class="btn btn-secondary"><i class="bi bi-eye"></i> View Hotel </a>
                <a href="/rooms/<%= room.id %>" class="btn btn-primary"><i class="bi bi-eye"></i> View Room </a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <h2 class="text-danger">No rooms available for this hotel.</h2>
        <% } %>
      </div>
    </div>

    <!-- Back to Top Button -->
    <button id="backToTop" class="back-to-top btn btn-warning">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </button>

    <script src="/javascripts/backToTop.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
